  <body>
    <div class="bg"><img src="/../../images.bg.jpg"></div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-4">
                <h1>Bloc Todo</h1>
            </div>
            <div class="col-lg-8">
                <div class="page-header">
                    <h2> Reminding you to do the things you forgot...</h2>
                    <p> <h2> <small> Easy detection, dating, and visualisation for recombination, introgression and hybridisation events in genomes. </small> </h2> </p>
                </div>
            </div>
        </div>
    </div>