// import the CSS framework
@import "bootstrap";
@import "bootstrap-responsive";

body {
  height: 100%;
  background-image: image-url("norway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-inner {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar .nav li a {
  color: #000;
  text-shadow: none;
}

.navbar .nav li a:hover {
  border-bottom: 1px solid tomato;
}

