// import the CSS framework
@import "bootstrap";
@import "bootstrap-responsive";

body {
  height: 100%;
  background-image: image-url("norway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-inner {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar .nav li a {
  color: #000;
  text-shadow: none;
}

.navbar .nav li a:hover {
  border-bottom: 1px solid tomato;
}

div.form-actions {
  padding: 0;
  margin-top: 15px;
  background-color: transparent;
  border-top: none;
}

.table {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #333;
}

.table td {
  font-size: 1.25em;
  padding-top: 0px;
  line-height: 0px;
  text-align: center; 
  vertical-align: middle;
  border-top: 1px solid #333;
}

.table th {
  padding-top: 5px;
  line-height: 25px;
  text-align: center; 
  vertical-align: none;
  border-top: none;
  font-weight: bold;
}

.table tr.main:hover {
  background-color: tomato;
}